.extra-option {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  cursor: pointer;
  margin: 0px 0px 10px 0px;
}

.sub-item {
  display: flex;
  padding: 10px;
  /* padding-top: 200px; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex: 1 1 100%;
  margin: -10px !important;
  display: flex;
  background: linear-gradient(to right, #7a6efb, #33374b);
}
